@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "rubik";
    background-color: #F5F6FA;
}

.main-container{
    margin: 32px 16px 16px;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap:16px;
}

.message-section{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
}

.message-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.picture-styles{
    height: 32px;
    width: 32px;
}

.Name-styles{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    color:#334253;
}

.text-style{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 311px;
    text-align: left;
    color:#67727E;
}

.message-footer{
    display: flex;
    align-items: center;
    gap: 145px;
}

.plus-minus-style{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 13px;
    width: 100px;
    height: 40px;
    background-color: #F5F6FA;
    color: #5357B6;
    font-weight: 500;
    border-radius: 10px;
}

.plus-minus-icons{
    cursor: pointer;
}

.reply-section{
    display: flex;
    align-items: center;
    gap: 8px;
    color:#5357B6;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.reply-img-style{
    padding-top:3px;
}

/* delete div style */

.delete-section-style{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 28px;
    background-color: #FFFFFF;
    position: absolute;
    top: 33%;
    display: none;
}

.delete-text-style{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:#334253;
}

.description{
    max-width:288px;
}

.buttons-section{
    display: flex;
    gap: 12px;
}

.cancel-button{
    font-family: "rubik";
    background: #67727E;
    border-radius: 8px;
    height: 48px;
    width: 138px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
}

.delete-button{
    font-family: "rubik";
    background: #ED6368;
    border-radius: 8px;
    height: 48px;
    width: 138px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor:pointer;
}

/* add comment style */
.text-area{
    background-color: #FFFFFF;
    padding: 16px 16px 13px;
    border-radius: 8px;
}

.send-message{
    height: 96px;
    width: 311px;
    border-radius: 8px;
    border:1px solid #E9EBF0;
    margin-bottom:16px;
    resize: none;
    padding:12px 24px 16px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#334253;
}

.send-message::placeholder{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#67727E;
}

.text-area-footer{
    display: flex;
    align-items: center;
    gap: 175px;
}

.send-button{
    height: 48px;
    width: 104px;
    border-radius: 8px;
    background-color: #5357B6;
    font-family: "rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
}
/* you delete edit styles */

.you-text{
    height: 19px;
    width: 36px;
    border-radius: 2px;
    background-color: #5357B6;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    padding: 2px 6px;
    text-align: center;
    color:#ffffff;
}

.recycle-bin{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#ED6368;
    border:none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-button{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#5357B6;
    border:none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* my text */
.you-julius{
    display: flex;
    align-items: center;
    gap: 8px;
}

.you-message-footer{
    display: flex;
    align-items: center;
    gap: 52px;
}

.recycle-edit-buttons{
    display: flex;
    gap: 16px;
}

/* comments style */
.message-main-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.message-reply-section{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
}

.reply-main-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.reply-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reply-line{
    background-color:#E9EBF0;
    width:2px;
    border: none;
}

.message-reply-footer{
    display: flex;
    align-items: center;
    gap: 127px;
}