@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "rubik";
    background-color: #F5F6FA;
}

.main-container{
    margin: 32px 16px 16px;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap:16px;
}

.message-section{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    min-height: 256px;
}

.message-header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom:16px;
}

.picture-styles{
    height: 32px;
    width: 32px;
}

.Name-styles{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    color:#334253;
}

.text-style{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 311px;
    text-align: left;
    color:#67727E;
    overflow-y: auto; 
    max-height: 144px;
}

.my-message-style{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 311px;
    text-align: left;
    color: #67727E;
    word-break: break-all;
    overflow-y: auto;
    max-height: 120px;
}

.replying-to{
    color:#5357B6;
    font-weight: 500;
}

.message-footer{
    display: flex;
    align-items: center;
    gap: 145px;
    margin-top: auto;
}

.plus-minus-style{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 13px;
    width: 100px;
    height: 40px;
    background-color: #F5F6FA;
    color: #5357B6;
    font-weight: 500;
    border-radius: 10px;
}

.plus-minus-icons{
    cursor: pointer;
}

.reply-section{
    display: flex;
    align-items: center;
    gap: 8px;
}

.my-new-message{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    min-height: 280px;
    min-width: 345px;
}

.my-reply-message{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    min-height: 280px;
    width: 325px;
}

.reply-img-style{
    padding-top:3px;
}

/* delete div style */

.delete-section-style{
    padding: 24px 28px;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 224px;
    width: 343px;
}

.delete-text-style{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:#334253;
}

.description{
    max-width: 288px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.buttons-section{
    display: flex;
    gap: 12px;
}

.cancel-button{
    font-family: "rubik";
    background: #67727E;
    border-radius: 8px;
    height: 48px;
    width: 138px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
}

.delete-button{
    font-family: "rubik";
    background: #ED6368;
    border-radius: 8px;
    height: 48px;
    width: 138px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor:pointer;
}

/* add comment style */
.text-area{
    background-color: #FFFFFF;
    padding: 16px 16px 13px;
    border-radius: 8px;
}

.send-message{
    height: 96px;
    width: 311px;
    border-radius: 8px;
    border:1px solid #E9EBF0;
    margin-bottom:16px;
    resize: none;
    padding:12px 24px 16px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#334253;
}

.send-message::placeholder{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#67727E;
}

.text-area-footer{
    display: flex;
    align-items: center;
    gap: 175px;
}

.send-button{
    height: 48px;
    width: 104px;
    border-radius: 8px;
    background-color: #5357B6;
    font-family: "rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
}
/* you delete edit styles */

.you-text{
    height: 19px;
    width: 36px;
    border-radius: 2px;
    background-color: #5357B6;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    padding: 2px 6px;
    text-align: center;
    color:#ffffff;
}

.recycle-bin{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#ED6368;
    border:none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-button{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#5357B6;
    border:none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* my text */
.you-julius{
    display: flex;
    align-items: center;
    gap: 8px;
}

.reply-message-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.my-message-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.recycle-edit-buttons{
    display: flex;
    gap: 16px;
}

/* comments style */
.message-main-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.message-reply-section{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    min-height: 280px;
    width: 325px;
}

.reply-main-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.reply-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reply-line{
    background-color:#E9EBF0;
    width:2px;
    border: none;
}

.message-reply-footer{
    display: flex;
    align-items: center;
    gap: 127px;
}

.cover-div{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.cover-div-reply{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.update-button-style{
    height: 48px;
    width: 104px;
    border-radius: 8px;
    background-color: #5357B6;
    font-family: "rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF;
    border:none;
    cursor: pointer;
    margin-left: 50px;
}

.edit-delete-style{
    display: flex;
    gap: 8px;
}
/* reply new window styles */
.new-reply-window{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    min-height: 190px;
    width: 343px;
}

.new-reply-window-second{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    min-height: 190px;
    width: 325px;
}

.new-reply-message-style{
    height: 96px;
    width: 294px;
    border-radius: 8px;
    border: 1px solid #E9EBF0;
    resize: none;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #334253;
    padding: 12px 24px 16px;
}

.new-reply-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* div's for media */
.plus-minus-style-second{
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 13px;
    width: 40px;
    height: 100px;
    background-color: #F5F6FA;
    color: #5357B6;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 10px;
}

.reply-section-second{
    display: none;
    gap: 8px;
}

.picture-styles-second{
    height: 32px;
    width: 32px;
    display: none;
}

.send-button-second{
    height: 48px;
    width: 104px;
    border-radius: 8px;
    background-color: #5357B6;
    font-family: "rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: none;
}
.reply-section-third{
    display: none;
}
.recycle-edit-buttons-second{
    display: none;
}
.recycle-edit-buttons-second-my{
    display: none;
}
.picture-styles-second{
    display: none;
}
.send-button-second{
    display: none;
}
@media (min-width: 1000px) {
.reply-main-container{
    gap:80px;
}
.message-section{
    min-width: 730px;
    min-height: 167px;
    flex-direction: row;
    align-items: flex-start;
}
.reply-line{
    transform: translateX(30px);
    z-index: -1;
}
.message-reply-section{
    min-width: 642px;
    min-height: 167px;
    flex-direction: row;
    align-items: flex-start;
}
.text-style{
    max-width: 618px;
}
.message-footer{
    display:none;
}
.message-reply-footer{
    display: none;
}
.plus-minus-style-second{
    display:flex;
}
.reply-section-second{
    display: flex;
    margin-left: -90px;
}
.reply-section-third{
    display: flex;
    gap: 8px;
    margin-left:200px;
}
.new-reply-footer{
    display: none;
}
.reply-message-footer{
    display: none;
}
.text-area-footer{
    display: none;
}
.picture-styles-second{
    display: block;
}
.send-button-second{
    display: block;
}
.new-reply-message-style{
    height: 96px;
    width: 506px;
}
.new-reply-window{
    min-width: 730px;
    min-height: 144px;
    flex-direction: row;
}
.recycle-edit-buttons-second{
    display: flex;
    gap:23px;
    margin-left: 95px;
}
.my-reply-message{
    min-width: 642px;
    min-height: 167px;
    flex-direction: row;
    align-items: flex-start;
}
.my-message-footer{
    display:none;
}
.my-new-message{
    flex-direction: row;
    align-items: flex-start;
    min-width: 730px;
    min-height: 167px;
}
.my-message-style{
    max-width: 618px
}
.recycle-edit-buttons-second-my{
    display: flex;
    gap: 23px;
    margin-left: 190px;
}
.new-reply-window-second{
    width:642px;
    min-height:144px;
    display: flex;
    flex-direction: row;
}
/* delete section style */
.delete-section-style{
    height: 252px;
    width: 400px;
    padding:32px;
}
.cancel-button{
    width:161px;
}
.delete-button{
    width:161px;
}
.description {
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-area{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 730px;
    min-height: 144px;
    gap: 20px;
}
.send-message{
    width:506px;
}
}